.contact-container {
    background:linear-gradient(to right, black,  #13151f,  var(--secondary-color));
    width: 100%;
    height: 200vh;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.contact-headline {
    color: var(--primary-color);
    font-family: 'corinthia';
    font-size: 90px;
    letter-spacing: 3px;
    padding-top: 40px;
}