.info-section {
    position: absolute;
    left: 31%;
    top: 25%;
}

.connect-section {
    position: absolute;
    right: 31%;
    top: 25%;
}

.email-div, .location-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.location-div {
    margin-top: 60px;
    margin-bottom: 55px;
}

.youtube-text, .linkedin-text, .github-text, .email-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

._headline {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    font-family: "Montserrat";
    margin-top: 3px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.github-headline {
    color: white !important;
    opacity: 1 !important;
}

.email-subtext, .youtube-subtext, .linked-subtext, .github-subtext {
    font-size: 18px;
    font-family: "Montserrat";
    margin-top: 5px;
    margin-left: -40px;
    color: white;
    opacity: 0.5;
}

.email-icon {
    color: teal;
    font-size: 30px;
    margin-right: 15px;
}

.linked-icon {
    color: teal;
    font-size: 30px;
    margin-right: 15px;
}

.youtube-icon {
    color: teal;
    font-size: 30px;
    margin-right: 15px;
    margin-left: 0px;
}

.github-icon {
    color: teal;
    font-size: 30px;
    margin-right: 15px;
}

.github-text {
    opacity: 1;
}


._headline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: white;
    transition: 0.2s ease-in-out;
}

._headline:hover::after {
    left: 0%;
    width: 100%;
}

.atag {
    text-decoration: none;

}


@media (max-width: 1570px) {
    .info-section {
        left: 30%;
        top: 20%;
    }
}