.info-section {
    color: goldenrod;
    position: absolute;
    left: 30%;
    top: 23%;
}


.email-div, .location-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.location-div {
    margin-top: 60px;
    margin-bottom: 55px;
}

.youtube-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.email, .location {
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    margin-top: 0px;
    margin-bottom: 10px;
}

.email-address {
    margin-top: 0px;
    font-size: 18px;
    font-family: "Montserrat";
    margin-left: 3px;
    color: goldenrod;
}

.youtube-subtext, .linked-subtext {
    font-size: 18px;
    font-family: "Montserrat";
    margin-top: 0px;
    margin-left: 0px;
    color: goldenrod;
}

.email-icon {
    color: teal;
    font-size: 30px;
    margin-right: 15px;
}

.linked-icon {
    color: teal;
    font-size: 30px;
    margin-right: 15px;
}

.youtube-icon {
    color: teal;
    font-size: 28px;
    margin-right: 15px;
    margin-left: 0px;
}

.location-div {
    padding-left: 0px;
}

.connect-section {
    color: goldenrod;
    position: absolute;
    right: 30%;
    top: 23%;
}


@media (max-width: 1570px) {
    .info-section {
        left: 30%;
        top: 20%;
    }
}