.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding-right: 100px;
    visibility: hidden;

}

.carin {
    color: whitesmoke;
    font-size: 14px;
    font-family: 'Montserrat';
    opacity: 0.5;
    visibility: hidden;
}


@media (max-width: 500px) {
    .footer {
      max-width: 100%;
      justify-content: center;
      padding-right: 0px;
    }
    .carin {
        font-size: 12px;
        margin-left: 12px;
        
    }
}